# ignore objects and archives
*.[oa]
*.so
docs/*

#ignore build output and generated stuff
fs_config/interface/introspection/foundation-services-config-generated.c
fs_config/interface/introspection/foundation-services-config-generated.h
fs_config/interface/protected/fscfg_common/generated/
fs_config/src/fscfgd/fscfgd
fs_config/src/fscfg_common/generated/
service_discovery/daemon/fssdd
service_discovery/daemon/generated/
service_discovery/lib/generated/
service_discovery/test/fssd_test
test/ccm_test/ccm_test
transfermanager/src/dbcmdtool
test/fssd_test

#ignore unit test stuff (directories and executables):
test/unittest/build_googletest/
test/unittest/build_unittest_fsm_ccm/
test/unittest/build_unittest_transfermanager/
test/unittest/build_unittest_voc_framework/
test/unittest/googletest/
test/unittest/unittest_transfermanager
test/unittest/unittest_voc_framework
test/unittest/unittest_fsm_ccm

#ignore emacs/backup files
*~
*#
*.bak
